/* Container für eine einzelne Zeile (Label, Eingabefeld, Checkbox) */
.fragen-box .input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.centered-container

{
    text-align: left;
}
.centered-container h2

{
    text-align: center;
}

/* Label Stil */
.fragen-box label {
    display:inline-block;
    margin-right: 10px;

    width: 20%;

}

/* Eingabefeld Stil */
.fragen-box input[type="text"], .fragen-box select {

    margin-top: 10px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}


/* Checkbox Stil */
.fragen-box input[type="checkbox"] {

    padding: 10px;
    margin-left: 5px;
    height: 20px;
    width: 20px;
}