/* Container für eine einzelne Zeile (Label, Eingabefeld, Checkbox) */

.erstellen-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.fragen-box
{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1%;
    box-shadow: 0px 0px 10px 0px #aaa;
    width: 50%;
    border-radius: 1%;
    text-align: left;

}


.erstellen-centered-container h2

{
    text-align: center;
}

/* Label Stil */
.fragen-box label {
    display:inline-block;
    margin-right: 20px;
    margin-left: 10px;
    text-align: left;
    width: 9%;

}

/* Eingabefeld Stil */
.fragen-box input[type="text"]  {
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;


}
.fragen-box select{
    width: 82%;
    margin-top: 10px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;


}

    /* Checkbox Stil */
.fragen-box input[type="checkbox"] {

    margin-left: 5px;
    height: 20px;
    width: 20px;
}