/* styles/NavigationBar.css */

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 100%; /* Setzt die Breite auf 100% des Viewports */
    position: fixed; /* Damit bleibt die Navigationsleiste oben fixiert */
    top: 0; /* Oben an der Seite positionieren */
    z-index: 999; /* Damit bleibt die Navigationsleiste über anderen Elementen */
    padding: 10px;
}

.navbar-item {
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-item:hover {
    color: #ff9900;
}
