.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 10px;
}

.navbar-item {
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-item:hover {
    color: #ff9900;
}
