.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 10px;
}

.navbar-item {
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-item:hover {
    color: #ff9900;
}

.footer {
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: right;
    padding: 10px 0;
}

.footer-item {
    display: inline;
    cursor: pointer;
    margin-right: 30px;
}

.footer-item:hover {
    color: #ff9900;
}