/* Quiz.css */

/* Stil für den gesamten Quiz-Container */
.quiz-container {
    margin: 20px; /* Zentriert den Container auf der Seite */
    padding: 20px;
    border: 2px solid #009688; /* Rahmen um den Container */
    border-radius: 15px; /* Runde Ecken */
}

/* Stil für die Fragebox */
.question-box {
    background-color: #969595; /* Hintergrundfarbe für die Fragebox */
    color: #030202; /* Textfarbe für die Frage */
    border: 2px solid #000000;
    border-radius: 10px; /* Runde Ecken */
    align-self: center;
    margin-bottom: 15px; /* Abstand zwischen Frage und Antwortboxen */
}


.answer-button-container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Abstand zwischen den Buttons */
}

.answer-button-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Abstand zwischen den Buttons */
    margin-top: 10px;
}

.answer-button {
    width: calc(50% - 5px); /* Breite auf 50% des Containers, Abstand zwischen den Buttons abziehen */
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.Frage {
    text-align: center;
    align-content: center;
}

.next-question {
    text-align: center;
    padding: 3px;
    margin-top: 10px;
    width: 25%;
    align-self: auto;
}

/* Stil für den Nächste-Frage-Button */
.next-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 1.1s ease;
    width: 300px;
    margin-top: 10px;
}
.content-container h2 {
    margin-top: 50px;
}

.content-container h1 {
    align-items: center;
}

/* Deaktivierter Stil für Antwortbuttons */
.answer-button.disabled {
    pointer-events: none; /* Verhindert Klicks auf deaktivierte Buttons */
    opacity: 0.8; /* Reduziert die Deckkraft deaktivierter Buttons */
}
