/* Quiz.css */

/* Stil für den gesamten Quiz-Container */
.quiz-container {
    max-width: 800px; /* Maximalbreite für den Container anpassen */
    margin: 20px; /* Zentriert den Container auf der Seite */
    padding: 20px;
    border: 2px solid #009688; /* Rahmen um den Container */
    border-radius: 15px; /* Runde Ecken */
}

/* Stil für die Fragebox */
.question-box {
    background-color: #ffffff; /* Hintergrundfarbe für die Fragebox */
    color: #030202; /* Textfarbe für die Frage */
    border: 2px solid #000000;
    border-radius: 15px; /* Runde Ecken */
    padding: 5px;
    text-align: center;
    margin-bottom: 20px; /* Abstand zwischen Frage und Antwortboxen */
}

/* Stil für die Antwortboxen */
.answer-container {
    display: flex;
    flex-direction: column; /* Anordnung der Antwortboxen in einer Spalte */
    gap: 10px; /* Abstand zwischen den Antwortboxen */
}

/* Stil für die Antwortbuttons */
.answer-button {
    width: 50%;
    background-color: #fff; /* Hintergrundfarbe für die Antwortboxen */
    color: #000000; /* Textfarbe für die Antworttexte */
    border: 1px solid #000000; /* Rahmen um die Antwortboxen */
    border-radius: 15px; /* Runde Ecken */
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s; /* Übergangseffekt für die Hervorhebung */
}
.next-question {
    text-align: center;
    padding: 3px;
    margin-top: 10px;
}

/* Stil für den Nächste-Frage-Button */
.next-button {
    background-color: #009688; /* Hintergrundfarbe für den Button */
    color: #fff; /* Textfarbe für den Button */
    border: none;
    border-radius: 15px; /* Runde Ecken */
    padding: 10px 20px;
    margin-top: 20px; /* Abstand zum nächsten Element */
    cursor: pointer;
}
h2 {
    margin-top: 50px;
}

/* Deaktivierter Stil für Antwortbuttons */
.answer-button.disabled {
    pointer-events: none; /* Verhindert Klicks auf deaktivierte Buttons */
    opacity: 0.8; /* Reduziert die Deckkraft deaktivierter Buttons */
}
