.ranking {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: 10px;
}
.teamfett {
    font-weight: bold;
}
.ranking h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
